<div id="left" class="col-md-3">
  <div id="basic_info" class="well">
	  <img src="http://placehold.it/250x250" class="center-block img-responsive img-circle">
	  <h3 class="Name"><%= current_user.first_name %> <%= current_user.last_name %></h3>
	  <h4 class="position"> current_user.profile.position </h4>
 	  <h4 class="department">current_user.profile.department</h4>
  </div>

  <div id="org_chart" class="well">
  <img src="<%= asset_path( 'placeholder_orgchart.png' ) %>" class="img-responsive center-block">
  </div>
</div>

<div class="col-md-6">
  <div id="about" class="well">
	  <div id="bio">
		  <h4 class="title">Bio</h4>
		  <p> current_user.profile.about </p>
	  </div>
	  <div id="ask_me">
		  <h4 class="title">Ask Me About</h4>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac. Morbi sagittis convallis volutpat. Mauris tincidunt lacinia egestas. Phasellus metus dolor, varius id quam quis, dignissim convallis ligula. Proin dictum ut nibh eget semper. Pellentesque eget urna sed lorem blandit mollis. Donec sagittis erat vitae ligula suscipit, in ultricies risus efficitur. Integer tincidunt, mauris vitae efficitur lacinia, mauris purus consectetur tellus, in cursus turpis nisl ac urna. Maecenas eu mollis leo, ut placerat quam.
		</p>
	  </div>

	  <div id="position_history">
	    <div class="position">
	    <h4 class="current title">Current Position</h4>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac.
	    </div>
	    <div class="position">
	    <h4 class="title">Past Position</h4>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac.
	    </div>
	    <div class="position">
	    <h4 class="title">Past Position</h4>
	    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet tortor dolor, quis blandit ligula rhoncus sit amet. Ut tincidunt ante urna, vel commodo tortor feugiat ac.
	     </div>
	  </div>

  </div>
</div>

<div id="right" class="col-md-3">
  <div id="" class="well">
  calendar
  </div>
</div>
