<div class="container top-margin">

  <div id="left" class="col-md-3">
    dashboard
  </div>

  <div class="col-md-6">
    dashboard
  </div>

  <div id="right" class="col-md-3">
    dash
  </div>

</div>
