<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ol class="fs-fields">
    <li>
      <label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
      <input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Jane Doe" required/>
    </li>
    <li>
      <label class="fs-field-label fs-anim-upper" for="q2" data-info="For example, ...">What's your current role?</label>
      <input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="Project Manager" required/>
    </li>
    <li data-input-trigger>
      <label class="fs-field-label fs-anim-upper" for="q3" data-info="This will help us know what kind of service you need">What's your department?</label>
      <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
        <span><input id="q3b" name="q3" type="radio" value="conversion"/><label for="q3b" class="radio-conversion">Sell things</label></span>
        <span><input id="q3c" name="q3" type="radio" value="social"/><label for="q3c" class="radio-social">Become famous</label></span>
        <span><input id="q3a" name="q3" type="radio" value="mobile"/><label for="q3a" class="radio-mobile">Mobile market</label></span>
      </div>
    </li>
    <li>
      <label class="fs-field-label fs-anim-upper" for="q4">Tell us something about yourself!</label>
      <textarea class="fs-anim-lower" id="q4" name="q4" placeholder="Describe here"></textarea>
    </li>
    <li>
      <label class="fs-field-label fs-anim-upper" for="q5">What are you currently working on?</label>
      <textarea class="fs-mark fs-anim-lower" id="q5" name="q5" placeholder="example..."></textarea>
    </li>
  </ol><!-- /fs-fields -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
