<div class="container">
  <h1>&nbsp;&nbsp;Admin Analytics</h1>
  <div class="col-md-2">
    <div class="list-group">
      <a href="#" class="list-group-item" style="background-color:#ccc; color:#fff;">
        Dashboard
      </a>
      <a href="#" class="list-group-item">Real Time
      </a>
      <a href="#" class="list-group-item">Demographics
      </a>
      <a href="#" class="list-group-item">Locations
      </a>
      <a href="#" class="list-group-item">Behaviors
      </a>
    </div>
  </div>
  <div class="col-md-10">
    <%= image_tag 'admin-top.png', class: 'img-responsive'%>
    <%= image_tag 'admin-bottom.png', class: 'img-responsive'%>
  </div>
</div>
