@import 'base';

#basic_info {
	text-align:center;
	#name {

	}
	#position {

	}
}

#about {
	#bio, #ask_me, #position_history {
		padding: 20px 0px;
	}
	#bio, #ask_me {
		border-bottom:1px solid;
	}
	.title {
		font-weight:600;
	}
}