#splash {
  padding: 10px;
  position: absolute;
  top:20%;
  left: 0;
  right: 0;
  margin: auto;
  vertical-align: middle;

  #logo {
    text-align:center;
  }
  .login {
  	float:left
  }
  .remember {
    float:right;
  }
}

.form_meta {
  text-align:center;
}