#splash {
  padding: 10px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  #logo {
    text-align:center;
  }
  .login {
  	float:left
  }
  .remember {
    float:right;
  }
}

.form_meta {
  text-align:center;
}