@import 'base';

.splash {
  height:100%;
  background-image: image-url("splashbackground.jpg");
  background-size:cover;

  #tag {
    font-weight:600;
    font-size:1.75em;
    line-height: 1.25em;
    color:$light-main-color;
    text-align:center;
    padding-top:40px;
  }

  .form {
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    text-align:center;

    .form-control {
      margin-top:10px;
    }

    .form-inputs {
      padding:10px;
    }

    .remember {
      padding-left:10px;
      display:inline-block;
    }
    a {
      color:$accent-color;
    }
    a:hover {
      background:none;
      color:$light-main-color;
    }
    .actions {
      margin-top:10px;
      
    }

  }

.form_meta {
  text-align:center;
}
}
