@import 'base';

#basic_info {
	text-align:left;
	.name {
		font-weight:600;
	}
	.position, .department, .joined, .karma{
		padding:2px;
		font-size:13px;
		line-height:15px;
	}
	.joined, .karma {
		color:$light-text-color;
		display:inline-block;
	}
	.karma:hover {
		color:$main-color;
	}
	.sendmsg {
		margin-top:20px;
	}
}

#about {
	h4 {
		font-weight:600;
		font-size:19px;
		padding-bottom:5px;
	}
	.bio, .ask_me, .position_history, .upload{
		padding: 20px 0px;
	}
	.ask_me {
		label {
			padding:10px;
			font-weight:normal;
			margin:5px;
		}
	}
	.bio, .ask_me {
		border-bottom:1px solid $light-text-color;
	}
	.ask_me {

	}
	.position_history {
			.title {
				font-weight:600;
				font-size:18px;
			}
			.date{
				color: $light-text-color;
				float:right;
				display:inline-block
			}
			.description {
				padding:10px 0;
			}

	}
}
.modal-dialog {
  padding:20px;
  background-color:#fff;
}