@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 60px;
}

.thumb-sm img {
  margin-top: -5px;
  vertical-align: middle;
  padding-left: 15%;
}
