@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 60px;
}

.thumb-sm img {
  margin-top: -5px;
  vertical-align: middle;
  padding-left: 15%;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
}

/* CALENDAR */

/* DatePicker Container */
.ui-datepicker {
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
  padding: 0;
	font: 12px 'Lato', sans-serif;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-content {
  background: #fff;
  color: #222;
  border-radius: 0;
  border: 1px solid #ccc;
}

/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
  margin: 0;
}
.ui-datepicker-header {
	font-weight: bold;
	line-height: 30px;
	border-width: 1px 0 0 0;
  background: #fff;
	border-style: solid;
	border-color: #111;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}

.ui-datepicker thead {
	background-color: #f7f7f7;
  border-bottom: 1px solid #bbb;
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	color: #666666;
}
.ui-datepicker tbody td {
	padding: 0;
	border-right: 1px solid #bbb;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
	border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	line-height: 1.5;
	color: #666666;
}
.ui-datepicker-calendar .ui-state-default {
	background: #fff;
  border: 0;
  width: 100%;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
  width: 100%;
}
.ui-datepicker-calendar .ui-state-active {
	background: #FFCE54;
	position: relative;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 100%;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 100%;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 100%;
	margin-bottom: 0;
}

.alert .alert-success{
  margin-bottom: 0;
}

.top-margin {
  margin-top: 10px;
}

/* MAIN CALENDAR */

#main_calendar table {
  border-collapse: collapse;
  width: 100%;
}

#main_calender td,
#main_calender th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#main_calender th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#main_calender td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#main_calender .notmonth {
  color: #CCC;
}

#main_calender #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#main_calender #month a, #main_calender #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#main_calendar .today {
  background-color: #D7F2FF;
}

#main_calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#main_calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

/* Profile Cards */

.panel-body ul {
  list-style: none;
}
