<meta http-equiv="Refresh" content="1; url=http://acquainted.herokuapp.com/fake_profiles/show">

<center>
  <br>
  <br>
  <br>
  <br>
  <i class="fa fa-spinner fa-pulse fa-5x"></i>
  <br>
  <br>
  <h3>Let's get you acquainted with...</h3>
</center>
