<div class="container">
  <h1>Suggested Mentors</h1>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Based on Your Position
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">


          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/17">Shane Burke</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/45.jpg" alt="45"></li>

                  <li>Managing Sales Director</li>
                  <li>Business Development</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/18">Derek McKelvey</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/99.jpg" alt="99"></li>

                  <li>Senior Cloud Architect</li>
                  <li>Engineering</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/19">Nicole Kelley</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/women/67.jpg" alt="67"></li>

                  <li>Legal Specialist</li>
                  <li>eDiscovery Analytics</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/20">Mindy Lee</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/women/15.jpg" alt="15"></li>

                  <li>Privacy Counsel</li>
                  <li>Legal</li>

                </ul>
              </div>
            </div>
          </div>

          </div>

          <br>
          <a href="#" class="pull-right btn btn-default">More Results</a>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Based on Your Department
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">


          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/13">Arrington Bayuk</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/women/48.jpg" alt="48"></li>

                  <li>Upfronts Specialist</li>
                  <li>Agency Team</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/14">Jon Mucci</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/56.jpg" alt="56"></li>

                  <li>Global Account Lead</li>
                  <li>Global Client Solutions</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/15">Evan Mallia</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/51.jpg" alt="51"></li>

                  <li>Work Technology Manager</li>
                  <li>Business Systems</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/16">Genevieve Hinshaw</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/women/3.jpg" alt="3"></li>

                  <li>Head of Customer Care</li>
                  <li>Consumer Operations</li>

                </ul>
              </div>
            </div>
          </div>

          </div>

          <br>
          <a href="#" class="pull-right btn btn-default">More Results</a>
        </div>
    </div>
  </div>
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Based on Your Skills
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="row">


          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/9">Loren Sabia</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/75.jpg" alt="75"></li>

                  <li>Visual Designer</li>
                  <li>Editorial Team</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/10">Brett Audet</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/86.jpg" alt="86"></li>

                  <li>Designer</li>
                  <li>Business Marketing</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/11">Chelsea Carson</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/women/16.jpg" alt="16"></li>

                  <li>Brand Specialist</li>
                  <li>gTech Ads</li>

                </ul>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading"><a href="/profiles/12">Benni Tennent</a></div>
              <div class="panel-body">
                <ul>
                  <li><img height="150" src="https://randomuser.me/api/portraits/men/81.jpg" alt="81"></li>

                  <li>Mobile Brand Lead</li>
                  <li>Solutions Innovations</li>

                </ul>
              </div>
            </div>
          </div>
          </div>
          <br>
          <a href="#" class="pull-right btn btn-default">More Results</a>
      </div>
    </div>
  </div>
</div>
</div>
